h1 {
    color: blue;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 13;
}

div {
    border: 3px solid red;
    margin: 0 auto;
    text-align: center;
    width: 400px;
    border-radius: 3%;
    background-color: #fec7c0;
}

a {
    color: white;
}